{% extends 'layout.html' %}

<!-- {% block content %}Home | {{ super() }}{% endblock %} -->

{% block better %}
    <div class="text-center">
        <h1>
            Analog Stocks in a Digital World 
            <br>
        </h1>
        <br>
    </div>
    <div class='text-center'>
        <p><strong>Due to tensions in the current geopolitical environment there is reason to believe that some day in the not too distant future
            a decentralized digital currency will be used as the world reserve currency. As of today Bitcoin is leading the charge in the 
            pursuit of that goal. Before Bitcoin achieves this goal it is important to start thinking in terms of Bitcoin rather than dollars. 
            This tool is designed to show the performance of stocks denominated in Bitcoin. </strong>
        </p>
        <br>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <a href="/price" class="col-md-4 text-center btn btn-primary btn-block">Enter</a>
        <div class="col-md-4"></div>
    </div>
    
{% endblock %}

